# Backend
monata-backend/.env
monata-backend/vendor/

# Frontend
monata-frontend/.env
monata-frontend/node_modules/
monata-frontend/dist/

# Editor
.vscode/
.idea/

# Operating System
.DS_Store
Thumbs.db